/*font-family: 'Dosis', sans-serif;*/
 body{
	/*display: grid;*/
	font-family: 'Dosis', sans-serif;

}
/*contact us start*/
.contact_us{
	margin-top: -19px;
	height: 35px;
	/*background-color: #ff696e;*/
	background-color: black;
}
.contact_text{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	line-height: 30px;
    letter-spacing: 0.7px;
}
.social_media{
	margin-top: 2px;
	margin-right: 30px;
}
.social_media .button{
	display: inline-block;
	height: 30px;
	width: 30px;
	float: right;
	overflow: hidden;
	margin: 0 5px;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out; 
}
.social_media .button:hover{
	width: 130px;
}
.social_media .button .social_icon{
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50px;
	line-height: 30px;
	box-sizing: border-box;	
	transition: all 0.3s ease-out; 
}
.social_media .button:nth-child(1):hover .social_icon{
	background: #4267B2;
}
.social_media .button:nth-child(2):hover .social_icon{
	background: #E1206C;
}
.social_media .button .social_icon i{
	line-height: 30px;
	font-size: 20px;
	transition: all 0.3s ease-out; 
}
.social_media .button:hover .social_icon i{
	color: #fff;
}
.social_media .button span{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-left: 5px;
	color: black;
	
}
/*contact us end*/
/*header start*/
.header{
	    padding: 10px 0px 20px 0px;
}
.logo img{
	height: 50px;
    margin-top: 5px;
}
.menu{
	position: relative;
	overflow: hidden;
}
.menu ul{
	margin: 0;
	padding-right: 40px;
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
}
.menu ul li,
.menu ul li a{
	/*color: #ff696e;*/
	color: black;
	line-height: 60px;
	text-decoration:none;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .8px;
}
.menu ul li a::before,
.menu ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	/*background-color: #ff696e;*/
	background-color: black;
	left: 0;
	margin-top: 5px;
	transform: scaleX(0);
	transition: all 0.5s;
}
.menu ul li a::before{
	top: 0;
	transform-origin: left;
}
.menu ul li a::after{
	bottom: 0;
	transform-origin: right;
}
.menu ul li a:hover::before,
.menu ul li a:hover::after{
	transform: scaleX(1);
}
.menu ul li:last-child a::before,
.menu ul li:last-child a::after{
	width: 0px;
	height: 0px;
}
.menu ul li a.menu-item{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}
.menu ul li a.menu-item.hide-item{
	transform: scale(0);
}
.menu ul li:nth-child(1) a.menu-item.hide-item{
	transition-delay: 0.4s;
}
.menu ul li:nth-child(2) a.menu-item.hide-item{
	transition-delay: 0.3s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item{
	transition-delay: 0.2s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item{
	transition-delay: 0s;
}


.menu ul li:nth-child(1) a.menu-item{
	transition-delay: 0s;
}
.menu ul li:nth-child(2) a.menu-item{
	transition-delay: 0.1s;
}
.menu ul li:nth-child(3) a.menu-item{
	transition-delay: 0.2s;
}
.menu ul li:nth-child(4) a.menu-item{
	transition-delay: 0.3s;
}
.menu ul li:nth-child(5) a.menu-item{
	transition-delay: 0.4s;
}
.search-form{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(0);
	width: 600px;
	height: 44px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.search-form.active{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	transform: translateX(-50%);
}
.search-form input{
	width: 100%;
	height: 44px;
	background: transparent;
	color: black;
	border:none;
	outline: none;
	font-size: 20px;
}
.search-form input::placeholder{
	color: black;
}
.search-form:before{
	content: '\f002';
	position: absolute;
	top: 8px;
	left: -26px;
	font-size: 20px;
	color: black;
	font-family: fontAwesome;
}
.close{
	position: absolute;
	right: 25px;
	top: 0;
	height: 44px;
	background:#fff;
	color: black;
	line-height: 60px;
	font-size: 20px;
	text-align: right;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;

}
.close.active{
	opacity: 1;
	visibility: visible;
}


/*header end*/
/*small header start*/
.header_small {
    padding-bottom: 15px;
}
.small_logo img{
	    margin: 15px 0;
}
.small_menu{
	position: relative;
	overflow: hidden;
	height: 72px;
}
.small_menu ul{
	float: right;
	margin-right: 30px;
}
.small_menu ul li{
	list-style: none;
}
.small_menu ul li,
.small_menu ul li a{
	font-size: 25px;
	color: black;
	line-height: 89px;
	text-decoration: none;
}
.small_logo{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}
.small_logo.hide-item{
	transform: scale(0);
	transition-delay: 0.4s;
}
.small_search-form{
	position: absolute;
	top: 15%;
	left: 60%;
	transform: translateX(0);
	width: 600px;
	height: 89px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.small_search-form.active{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	transform: translateX(-50%);
}

.small_search-form input{
	width: 100%;
	height: 44px;
	background: transparent;
	color: black;
	border:none;
	outline: none;
	font-size: 20px;
}
.small_search-form input::placeholder{
	color: black;
}
.small_search-form:before{
	content: '\f002';
	position: absolute;
	top: 8px;
	left: -26px;
	font-size: 20px;
	color: black;
	font-family: fontAwesome;
}

.small_close{
	position: absolute;
	right: 25px;
	top: 0;
	height: 44px;
	background:#fff;
	color: black;
	line-height: 60px;
	font-size: 20px;
	text-align: right;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;

}
.small_close.active{
	opacity: 1;
	visibility: visible;
}
/*custom menu*/
#menu{
	width: 250px;
	height: 100vh;
	position: fixed;
	/*background: #ff696e;*/
	background: black;
	top: 0;
	right: -250px;
	z-index: 2;
	transition: .5s;

}
#menu ul li{
	list-style: none;
	margin: 50px 20px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}
#menu_btn{
	top: 20px;
	right: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 3;
	/*background: #ff696e;*/
	background: black;
	cursor: pointer;
	border-radius: 3px;
}
#menu_btn img{
	width: 20px;
	margin-top: 15px;
}
/*custom menu end*/
/*small header end*/

/*map start*/
/*.map{
	height: 300px;
}
.map_logo img{
	margin-top: 105px;

}
#main_map{
	height: 300px;
	margin-right: 25px;
}*/
/*map end*/
/*help start*/
.help{
	padding: 50px 0;
}
.help_logo img{
	margin-top: 30px;
}
.help_in h4,.about h4,.news h4{
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 15px;
}
.help_in p, .about p, .news p{
    letter-spacing: 1px;
    color: black;
    margin-bottom: 5px;
}
.help_in{
	padding-left: 70px;
}
.about{
	padding-left: 30px;
}
/*.news{
	margin-right: 18px;
}
.msg .input{
	margin: 10px 0;
	border:0;
	border-bottom: 2px solid black;
	width: 90%;
	outline: none;
}
.msg i{
	position: absolute;
	right: 64px;
	top: 68%;
	transition: .3s;
}
.news_icon .fa{
	font-size: 20px;
	padding-top: 20px;
	padding-right: 20px;
}*/

/*help end*/
/*accordion start*/

.news_acc{
	padding: 50px 0;
}
.acc_logo{
	margin-bottom: 10px;
}
.accordion{
	margin: 0 50px;
}
.accordion-tab{
	margin-bottom: -8px;
}
.accordion-tab .accordion-toggle{
	display: none;
}
.accordion-tab label{
	color: black;
	/*background: #ff696e;*/
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	display: block;
	padding: 12px 20px;
	cursor: pointer;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.accordion-tab label:after{
	content: "\f078";
	font-family: fontawesome;
	position: absolute;
	top: 13px;
	right: 20px;
	transition: transform .3s;
}
.accordion-tab .accordion-toggle:checked ~ label:after{
	transform: rotate(180deg);
}
.accordion-tab .accordion-content{

	text-align: center;
	max-height: 0;
	transition: all .4s;
	overflow: hidden;
}
/* .accordion-content .msg .input{
	margin: 10px 0;
	border:0;
	border-bottom: 2px solid black;
	width: 60%;
	outline: none;
}
 .accordion-content .msg i{
 	display: none;
}*/
.accordion-tab .accordion-content p{
	margin-bottom: 8px;
    letter-spacing: 2px;
}
.accordion-tab .accordion-toggle:checked ~ .accordion-content{
	max-height: 100vh;
	padding: 10px;
}
/*.accordion-tab .accordion-toggle:checked ~ .accordion-content .msg i{
	display: block;
}*/
/*accordion end*/
/*footer start*/
.footer{
	height: 35px;
	/*background-color: #ff696e;*/
	background-color: black;
}
.footer_text{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 30px;
    letter-spacing: 0.7px;
}
.change{
	padding-left: 5px;
	font-weight: 500;
	letter-spacing: 0.7px;
}
/*footer end*/